@include media-breakpoint-up(xl) {
    .main-content {
        margin-left: $menu-expanded-width !important;
    }
    .main-menu {
        left: 0;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    .nav-top {
        margin-left: calc(
            #{$menu-expanded-width} + #{$spacer * 1.5}
        ) !important;
    }
}
